/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Button styles */
.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: rgb(216, 122, 7);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #06ad11;
}

/* Input field styles */
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

/* Create Account & Login section styles */
.auth-section {
  width: 200px;
}

.auth-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-section button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.auth-section button:hover {
  background-color: #0056b3;
}

/* Upload section styles */
.upload-section {
  width: 200px;
  margin-right: 20px;
}

.upload-section label {
  display: block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-section label:hover {
  background-color: #0056b3;
}

.upload-section label span {
  margin-left: 5px;
}

/* Map styles */
.map {
  width: calc(100% - 440px);
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
